body{
    background-color:lightblue;
}
#info{
    display:inline-block;
    width:1000px;
}
#dex{
    display:inline-block;
    width:200px;
    background-color:pink;
    border:color red 2px;
    vertical-align: top;
    margin-top:200px;
}